challenge_config.zip
evaluation_script.zip

# virtualenv
env/
venv/

# text-editor related files
.vscode/

# cache
__pycache__
*.pyc

# zip
*.zip
!submission.zip
!annotations/test_annotations_devsplit.zip
evaluation_script/key.txt